$primary-btn-color: #ec4461;
$magenta-btn-color: #4a479d;


// BUTTONS_TYPES
.btn__primary {
	padding: 10px 0;	
	
	font-size: 20px;
	color: #fff;
	
	transition: all 0.4s;
}

.btn__icon {
	display: inline-flex;
	font-size: 20px;
	transition: all 0.4s;
}

.btn__icon_logo {
	display: inline-flex;
	margin-left: 8px;
	
	width: 25px;
	height: 25px;

	background: url(../img/venue-btn-logo.png) center no-repeat;
}


// BUTTONS_STATES
.btn-blue-magenta {
	background-color:  $magenta-btn-color;
}

.btn-red {
	background-color:  $primary-btn-color;
}

.btn__primary-sm {
 	padding: 10px 20px; 
}

.btn__primary-md {
	padding: 10px 32px;
}

.btn__primary-lg {
	padding: 10px 40px;
}

.btn__icon-md {
	padding: 10px 20px;
}


// BUTTONS_HOVER
.btn-blue-magenta:hover {
	background-color:  darken($magenta-btn-color, 25%);
}

.btn-red:hover {
	background-color:  darken($primary-btn-color, 25%);
}

.btn__primary:hover {
	color: #fff;
	box-shadow: 0 0 8px 2px rgba(50, 50, 50, .6);
}