@media only screen and (min-width: 1200px) {
	.carousel-control.right { right: -50px; }
	.carousel-control.left  { left: -50px; }
}


@media only screen and (max-width: 992px) {
	.social {
		.carousel__inner { width: 90%; }

		.carousel__control { width: 55px; }
		.prev-arrow  { left: -60px; }
		.next-arrow  { right: -60px; }
	}
	
	.footer__nav {
		margin-top: 10px;
		border: none; 
	}	
}


@media only screen and (max-width: 768px) {	
	.banner__title {
		padding: 150px 0;
		
		&-item { font-size: 45px; }
	}
	
	.advertise {
		padding: 60px 0;
		display: flex;
		
		&__link:hover { img { transform: scale(1.1);} }
		
		&__logo {
			display: flex;
			width: 100%;
			
			&:not(last-child) { margin-bottom: 20px;}
		}
	}
	
	.sponsors {
		.sponsors_list {
			.list-inline:first-child { margin-bottom: 0px; }	.list-inline li {
				margin: 15px;
			}	
		}
	}
	
	.social {
		.carousel__inner { width: 85%; }
		
		.prev-arrow  { left: -55px; }
		.next-arrow  { right: -55px; }
	}
		
	.footer__nav {
		margin-top: 0px;
		li { margin-top: 20px; }
	}
}
 

@media only screen and (max-width: 576px) {

	.banner__title-item { padding: 0; }
	
	.main__section_title h2 { font-size: 22px; }
	
	.cinebuzz {	
		.btn { 
			width: 100%; 
			margin: 0;
		}
		
		.btn:first-of-type { margin-bottom: 12px; }
	}  
	
	.venues .venues__item_wrapper  {
		.venues__item_info { left: 15px; }
		.btn__icon { padding: 10px; }
	}
	
	.social {
		
		.carousel__inner {
			.carousel__control { 
				width: 30px; 
				background: transparent; 
			}
			
			.prev-arrow  { left: -35px; }
			.next-arrow  { right: -35px; }
			
			img { width: 100%; }
		}
	}
	
	.footer {
		padding-bottom: 10px;
		
		&__copyright {
			width: 100%;
			padding: 0 10px;
			
			border-right-color: transparent;
			border: 1px solid #b26562;
		}
		
		&__nav {
			display: flex;
			flex-direction: column;
		}
	}
}
