// FONTS
@font-face {
  font-family: 'TitilliumWeb';
  src: url('../fonts/Titillium_Web/TitilliumWeb-Regular.ttf') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'TitilliumWeb';
  src: url('../fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf') format('woff');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/Museo_Sans/museo-sans.woff') format('woff');
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/Open_Sans/OpenSans-Light.ttf') format('woff');
  font-style: normal;
  font-weight: 400;
}


// COMMON-STYLES
body {
    font-family: 'TitilliumWeb', sans-serif;
    font-size: 14px;
    font-weight: 400;
	
	overflow-x: hidden;
}

a, 
a:hover, 
a:focus, 
a:active { text-decoration: none; }


h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.main__section_title h2 { font-size: 30px; }

.main__section-padd  { padding: 40px 0; }

.mb-25 { margin-bottom: 25px; }


// BACKGROUNDS
.bg-snow { background: #fdfdfd; }

.bg-red { background: #ec4461; }

.bg-rose { background: #fdcdcb; }

.bg-blue-magenta { background: #49479d; }

.bg-magenta { background: #8479b6; }


// SOCIAL-ICONS
.social__list {
	&-item {
		display: inline-block;
		
		.social__list-link { margin-right: 7px; }

		.icon { 
			display: inline-block;
			width: 35px;
			height: 35px;
			
			fill:  #ce2f4a;
			transition: 0.3s; 
		}
		
		.icon:hover { fill: #8479b6; }
		
		.icon-twitter {
			stroke-width: 15;
			stroke: #ce2f4a;
			
			&:hover { stroke: #8479b6; }
		}	
	}
}
